//
   Created by master on 09/09/16.
//a(href="mailto:#{user.email}")= user.username
extends layout

block content
    h1.
        Items in folder
    ul
        each item, i in locals.itemsList
            li
                //a(href = item.item_uid+'/gc')=item.item_name
                //a(title="Hello"){href = "http://localhost:8080/farm"}=item.item_name
                //#container
                a.link(href="http://localhost:8080/farm/" + item.item_uid +'/test')=(item.item_uid +'   '+ item.item_name)


