//
   Created by master on 09/09/16.
//a(href="mailto:#{user.email}")= user.username
extends layout

block content
    h1.
    a.link(href=parentUrl)=(folder.item_parent_uid)

    ul
        each item, i in locals.itemsList
            li
                a.link(href= "http://localhost:8080/farm/" + item.item_uid +'/gcv')=(item.item_uid +'   '+ item.item_name + ' version:' + item.item_version)


